@font-face{
    font-family: "Dosis-Bold";
    src:local("Dosis-Bold"), url(../project_web1/fonts/Dosis-Bold.ttf) format("truetype"),
    url(../project_web1/fonts/Drift___.woff2) format("woff2");

}

body{
    /* background-image: url("./img/brannon-naito-wBnktqrvaaY-unsplash.jpg"); */
    background-repeat:no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Dosis-Bold";
    height: 22000;

}
.kp1{
    text-transform: capitalize;
width: 100%;
height: 200px;
line-height: 200px;
font-size: 200px;
text-align: center;
background-color:#8f3bd3;
margin-bottom: 20px;

}
.kp2{
    text-transform: capitalize;
    width: 100%;
    height: 200px;
    line-height: 200px;
    font-size: 200px;
    text-align: center;
    background-color:#3bd36e;
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    
    }
    .kp3{
        text-transform: capitalize;
        width: 100%;
        height: 200px;
        line-height: 200px;
        font-size: 200px;
        text-align: center;
        background-color:#3bbcd3;
        margin-bottom: 20px;
        position: sticky;
        top: 0;
        
        }
        .kp4{
            text-transform: capitalize;
            width: 100%;
            height: 200px;
            line-height: 200px;
            font-size: 120px;
            text-align: center;
            background-color:#d3523b;
            margin-bottom: 20px;
            display: inline;
            position: relative;
            top: 0;
            right:0;
            }









.w1{
    color: #d4eb07;
}
#qq{
    color: #d33b3b;
}
div h1{
    border: 11px solid #8f3bd3;
    border-radius: 10px;
}
div .w1{
    border: 5px double #350312;
}
section > div{
    border: 5px solid #f09fb7;
}
h1 +p{
    font-size: 30px;
}
h1 ~ p{
    font-style: italic;
    font-weight: bold;
}
h1{
    margin: 40px 60px;
}
.content{
    min-width: 50%;
    max-width: 250px;
    background-color: lawngreen;
}
.pop{
    font-size: 130px;
    color: orangered;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 10px;
    text-shadow: 2px 2px 11px rgb(115, 178, 236);
}

.pop:hover{
    color: #000;
}