@font-face{
    font-family: "Dosis-Bold";
    src:local("Dosis-Bold"), url(../project_web1/fonts/Dosis-Bold.ttf) format("truetype"),
    url(../project_web1/fonts/Drift___.woff2) format("woff2");

}
:root{
    --main-color : #00ff4c ;
}

body{
    /* background-image: url("./img/brannon-naito-wBnktqrvaaY-unsplash.jpg"); */
    background-repeat:no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Dosis-Bold";
    height: 22000;
    cursor: pointer;
    
}

.kp1{
    text-transform: capitalize;
    width: 100%;
    height: 200px;
    line-height: 200px;
font-size: 200px;
text-align: center;
background-color:#8f3bd3;
margin-bottom: 20px;

}
.kp2{
    text-transform: capitalize;
    font-size: 100px;
    text-align: center;
    background-color:#3bd36e;
    margin-bottom: 20px;
    position: fixed;
    display: inline;
    top: 0;
    right: 0;
    
    }
    .kp3{
        text-transform: capitalize;
        width: 100%;
        height: 200px;
        line-height: 200px;
        font-size: 200px;
        text-align: center;
        background-color:#3bbcd3;
        margin-bottom: 20px;
        position: sticky;
        top: 0;
        
        }
        .kp4{
            text-transform: capitalize;
            width: 100%;
            height: 200px;
            line-height: 200px;
            font-size: 120px;
            text-align: center;
            background-color:var(--main-color);
            margin-bottom: 20px;
            display: inline;
            position: relative;
            top: 0;
            right:0;
            border-radius: 50px;
            opacity: .9;
            }

            .kp5{
                text-transform: capitalize;
                width: 100%;
                height: 100px;
                color: #f8f7f7;
                line-height: 60px;
                font-size: 50px;
                text-align: center;
                word-spacing: 20px;
                background-color:#da80bf;
                margin-bottom: 20px;
                display: block;
                overflow: auto;
            }
            [type]  {
                background-color: #a4caa4;
        width: 20%;
    }          
 
    .container{
        height: 400px;
        background: #ebe9e9;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;
    }
    .ff1{
        width: 200px;
        height: 200px;
        background: #fd7ed7;
        font-size: 80px;
        text-align: center;
        color: #000000;
    }
    ::selection{
        color: #fffeff;
        background-color: #6200ff;
    }
    .ff2::after{
        content: "::after";}
    .ff2{
        width: 200px;
        height: 200px;
        background: var(--main-color);
        font-size: 80px;
        text-align: center;
        color: #000000;
    }
    .ff3::before{
        content: "::before";}
    .ff3{
        width: 200px;
        height: 200px;
        background: #7eaafd;
        font-size: 80px;
        text-align: center;
        color: #000000;
    }
    .ff4{
        width: 200px;
        height: 200px;
        background: #f3e851;
        font-size: 80px;
        text-align: center;
        color: #000000;
    }
    .gra{
        font-size: 150px;
        color: #f7f2f2;

        width: 1150px;
        height: 250px;
        background-image: linear-gradient(#a00101 , #9d44d8);
        border: 2px solid;
        text-transform: capitalize;
        margin: auto;
        display: flex;
        align-items: center;
        box-shadow: 3px 3px 5px rgb(41, 41, 41);
        transition:all ease-in-out 4s ;
    }
    .gra:hover{
        width: 150px;
        font-size: 15px;
        color: #000;
    }
    .d0{
        display: flex;
        justify-content: space-evenly;
    }
    .d1{
        width: 200px;
        height: 200px;
        font-size: 50px;
       transition: all 2s;
        background-color: #3bbcd3;
        
        padding: 1%;
    }
    .d1:hover{
        transform: rotate(180deg);
    }
    .d2{
        
        width: 200px;
        height: 200px;
        font-size: 50px;
        transition: all 2s;
        background-color: #353102;
        align-items: center;
        transition: all 2s;
    }
    .d2:hover{
        transform: skew(90deg);
    }
    .d3{
        width: 200px;
        height: 200px;
        font-size: 50px;
        transition: all 2s;
        background-color: #f71eb5;
        align-items: center;
    }
    .d3:hover{
        transform: scale(2);
    }
    .d4{
        width: 200px;
        height: 200px;
        font-size: 50px;
        transition: all 2s;
        background-color: #84d33b;
        align-items: center;
    }
    .d4:hover{
    transform: translate(120px , 110px);
    }









.w1{
    color: #d4eb07;
}
#qq{
    color: #d33b3b;
}
div h1{
    border: 11px solid #8f3bd3;
    border-radius: 10px;
}
div .w1{
    border: 5px double #350312;
}
section > div{
    border: 5px solid #f09fb7;
}
h1 +p{
    font-size: 30px;
}
h1 ~ p{
    font-style: italic;
    font-weight: bold;
}
h1{
    margin: 40px 60px;
}
.content{
    min-width: 50%;
    max-width: 250px;
    background-color: lawngreen;
}
.pop{
    font-size: 130px;
    color: orangered;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 10px;
    text-shadow: 2px 2px 11px rgb(115, 178, 236);
}

.pop:hover{
    color: #000;
}